body {
  font:13px/20px 'Helvetica Neue' sans-serif;
  color: white;
  background: rgb(127,127,127);
}

.map {
  width: 49%;
  height:288px;
  border:1px solid #222;
  margin:0 5px 10px 5px;
  float: left;
  height: 46%;
}

div.column {
  position: absolute;
  top: 22px;
  left: 0;
  right: 0;
  bottom: 0;
}

div.header {
  background: black;
}

a {
  color: white;
  padding:1px 3px;
  text-decoration:none;
}

a:hover {
  color:#000;
  text-decoration:underline;
}

.map-number {
  position:absolute;
  top:24px;
  text-align:center;
  right:0;
  border:0;
  margin:0;
  z-index:2000;
  font-size:20px;
  line-height:25px;
  padding:5px 0;
  width:48px;
  background: rgb(127,127,127);
  color:#444;
}

select {
  border: 1px solid black;
  background: black;
  color: white;
}
